<table>
  <tr>
    <th>Source</th>
    <th>Type</th>
    <th>Count</th>
  </tr>
  [% FOR my_source = features.get_column('source').func('DISTINCT') %]
    [% my_source %]
    [% FOR my_type = features.search(source => my_source).get_column('type').func('DISTINCT') %]
    <tr>
      <td>[% my_source %]</td>
      <td>[% my_type %]</td>
      <td>[% features.search(source => my_source, type => my_type).count %]</td>
    </tr>
    [% END %]
  [% END %]
</table>