[%- FOR feature = features %]
[%- feature.seqid %]	
[%- feature.type %]	
[%- feature.start %]	
[%- feature.end %]	
[%- attrb = feature.attributes -%]
[%- attrb.Reference_seq.0 %]	
[%- attrb.Variant_seq.join(',') %]	
[%- attrb.Variant_effect.join(',') %]
[% END %]
