[% pad_count = (text_table.width - title.length) / 2 %]
[% pad_char = ' ' %]
[% pad_char.repeat(pad_count) _ title | ucfirst %]
[% title_rule = text_table.rule('=', '=') -%]
[%- body_rule = text_table.rule('-', '+') -%]
[%- bottom_rule = text_table.rule('-', '-') -%]
[%- title_rule -%]
[%- text_table.title -%]
[%- title_rule -%]
[%- text_table.body.join(body_rule) -%]
[%- bottom_rule -%]
