[%- "\t" -%]
[%- FOR row = data.keys.first -%]
[%- FOR column = data.$row.keys %]
[%- column UNLESS column == '_row_summary'-%]
[%- loop.last ? "\n" : "\t" -%]
[%- END -%]
[%- END -%]
[%- FOR row = data.keys -%]
[%- NEXT IF row == '_row_summary' -%]
[%- row _ "\t" UNLESS row == '_column_summary' -%]
[%- FOR column = data.$row.keys %]
[%- data.$row.$column.stats.$data_type UNLESS column == '_row_summary' %]
[%- loop.last ? "\n" : "\t" -%]
[%- END -%]
[%- END -%]
