[%- FOR source = data_set.att_count.keys.sort -%]
[%- FOR type = data_set.att_count.$source.keys.sort -%]
[%- FOR att_key = data_set.att_count.$source.$type.keys.sort -%]
[%- source %][% "\t" %]
[%- type %][% "\t" %]
[%- att_key %][% "\t" %]
[%- data_set.att_count.$source.$type.$att_key %]
[%- "\n" -%]
[%- END -%]
[%- END -%]
[%- END -%]
