<table>
  [%- FOR row = data_set.keys.first -%]
  <tr>
    <th></th>
    [%- FOR column = data_set.$row.keys %]
    <th>[% column %]</th>
    [%- END %]
  </tr>
  [%- END %]
  [%- FOR row = data_set.keys %]
  <tr>
    <th>[% row %]</th>
    [%- FOR column = data_set.$row.keys %]
    <td>[% data_set.$row.$column.stats.$data_type %]</td>
    [%- END %]
  </tr>
  [%- END %]
</table>
